// Styling for the footer
footer.mfa-footer{
  background: $gov-blue;
  padding: 4rem 0 0;
  background-image: url(../img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  .footer-inner{
    display: flex;
    justify-content: space-between;

    .footer-start{
      .footer-brand{
        width: 222px;
      }
      .footer-nav{
        margin-top: 2rem;
        .nav-items{
          display: flex;
          flex-direction: row;
          .nav-item{
            padding: 0 .8rem;
            .nav-link{
              color: $gray-400;
              font-size: 1rem;
            }
            &:last-child{
              padding-right: 0;
            }
            &:hover{
              .nav-link{
                color: $white;
              }
            }
          }
        }
      }
    }
    .footer-right{
      text-align: left;
      .footer-link{
        li{
          position: relative;
          margin-bottom: 1rem;
          padding-left: 1rem;
          @include transition-3s;
          a{
            color: $gray-600;
          }
          &::after{
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border: 2px solid $gray-600;
            border-bottom: 0;
            border-left: 0;
            left: -5px;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
          }
          &:hover{
            a{
              color: $gray-400;
            }
            &::after{
              border-color: $gray-400;
            }
          }
        }
      }
      h2{
        color: white;
        margin-bottom: 1rem;
      }
      p{
        color: $gray-600;
      }
    }
  }
      .copyright{
        width: 100%;
        text-align: center;
        color: $gray-600;
        margin: 2rem 0 0;
        p{
          padding: 1rem 0;
          font-size: .825rem;
          margin: 0 auto;
        }
      }
}