// Styling for the footer
footer.mfa-footer{
  background: $black;
  padding: 4rem 0 1rem;

  .footer-inner{
    display: flex;
    justify-content: space-between;

    .footer-start{
      .footer-brand{
        width: 222px;
      }
    }
    .footer-right{
      text-align: right;
      .footer-nav{
        .nav-items{
          display: flex;
          flex-direction: row;
          .nav-item{
            padding: 0 .8rem;
            .nav-link{
              color: $gray-400;
              font-size: 1rem;
            }
            &:last-child{
              padding-right: 0;
            }
            &:hover{
              .nav-link{
                color: $white;
              }
            }
          }
        }
      }
    }
  }
      .copyright{
        width: 100%;
        text-align: center;
        color: $gray-600;
        margin: 2rem 0 0;
        border-top: 1px solid $gray-700;
        p{
          padding: 1rem 0;
          font-size: .825rem;
          margin: 0 auto;
        }
      }
}