.paper-record{
  background-image: url(../img/paper-record.png);
  z-index: 0;

  &::after{
    background: rgba($color: #000000, $alpha: .5);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}