.box.is-hover{
    transition: all .3s ease-in-out;
    border-radius: 0;
    .mfa-blog-post{
        display: flex;
        justify-content: space-between;
        border-radius: 0;
        overflow: hidden;
        border: 0 solid transparent;
        box-sizing: border-box;
        position: relative;
        .mfa-blog-image{
            flex-shrink: 1;
            width: 250px;
            height: 200px;
            overflow: hidden;
            position: relative;
            img{
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                height: auto;
                transform: scale(1);
                transition: transform .3s ease-out;
            }
        }
        .mfa-blog-description{
            flex-shrink: 10;
            padding: 30px 50px 0;
            .blog-label{
                font-size: .75rem;
            }
            .blog-title{
                color: $black;
                font-size: 1.25rem;
                line-height: 1.5rem;
                font-weight: 700;
                margin: .5rem 0 1rem;
            }
            .blog-date{
                font-size: .75rem;
                color: $gray-400;
                i{
                    margin-right: .5rem;
                }
            }
        }

    }   
    &:hover{
        transition: all .5s ease;
        box-shadow: 0 1.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
        .mfa-blog-image{
            img{
                transform:scale(1.1);
            }
        }
    }
}

.content-box{
    background-color: #fff;
    border-radius: 0;
    border: 1px solid $gray-200;
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.flex-center{
    display: flex;
    justify-content: center;
}