.checkbox-list{
  display: flex;
  &.is-column{
    flex-direction: column;
  }
  &.is-row{
    flex-direction: row;
  }
}
.custom-checkbox{
  padding: .5rem 0;
  padding-left: 30px;
  position: relative;
  input{
    opacity: 0;
    height: 0;
    width: 0;
  }
  .checkmark{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid $gray-300;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    &::after{
      display: none;
      content: '';
      position: absolute;
      width: 5px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      z-index: 9;
    }
  }
  input:checked{
    & ~ .checkmark{
      background: $primary;
      border: 0;
      &::after{
        display: block;
      }
    }
  }
  &:hover{
    .checkmark{
      background: $gray-200;
    }
  }
}