.checkbox-list{
  display: flex;
  &.is-column{
    flex-direction: column;
  }
  &.is-row{
    flex-direction: row;
  }
}
.custom-checkbox{
  padding: .5rem 0;
  padding-left: 30px;
  position: relative;
  input{
    opacity: 0;
    height: 0;
    width: 0;
  }
  .checkmark{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid $gray-300;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    &::after{
      display: none;
      content: '';
      position: absolute;
      width: 5px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      z-index: 9;
    }
  }
  input:checked{
    & ~ .checkmark{
      background: $primary;
      border: 0;
      &::after{
        display: block;
      }
    }
  }
  &:hover{
    .checkmark{
      background: $gray-200;
    }
  }
}

.mfa-search{
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.online-archive-search{

  .field-body{
    label{
      &.checkbox, &.radio{
        display: inline-flex;
        align-items: center;
        margin: 0 1rem;
        &:first-child{
          margin: 0;
        }
        input{
          height: 1rem;
          width: 1rem;
          margin: 0 1rem;
        }
      }
    }
    &.is-vertical{
      display: block;
      label{
        display: block;
        margin: 1.5rem 0;
        &:first-child{
          margin-top: .5rem;
          margin-left: 0;
        }
        &.checkbox{
          display: flex;
          align-items: center;
          input{
            height: 1rem;
            width: 1rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }
}

.field-body{
  &.is-vertical{
    display: block;
    label{
      display: block;
      margin: 1.5rem 0;
      &:first-child{
        margin-top: .5rem;
        margin-left: 0;
      }
      &.checkbox{
        display: flex;
        align-items: center;
        input{
          height: 1rem;
          width: 1rem;
          margin-right: 1rem;
        }
        .count{
          position: absolute;
          right: 0;
        }
      }
    }
  }
}