.navbar{
  @include body-font;
  background: $gov-blue;
  border-top: 1rem solid #0F2E50;
  .navbar-brand{
    width: 222px;
    display: block;
    img{
      max-width: 100%;
      height: auto;
      max-height: none;
    }
  }
  .navbar-start{
    margin-left: 1rem;
    .navbar-item{
      padding: 1.5rem .75rem;
      @include body-font;
      color: $gray-300;

      .navbar-link{
        color: $gray-300;
      }

      .navbar-link:not(.is-arrowless){
        &::after{
          border: 2px solid $gray-300;
          border-radius: 1px;
          border-right: 0;
          border-top: 0;
          content: " ";
          display: block;
          margin-top: -.3em;
          pointer-events: none;
          position: absolute;
          top: 50%;
          transform: rotate(-45deg);
          transform-origin: center;
          height: .5em;
          width: .5em;
        } 
    }
    &:hover{
      background: none;
      color: white;
    }
    .navbar-dropdown{
      .navbar-item{
        padding: .5rem .75rem;
        color: $gray-900;
      }
    }
    }
  }
}

.navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
  background: none;
  color: white;
}
.navbar-dropdown {
  border-top: 2px solid lighten($gov-blue, 5%);
}