.picture-record{
    position: relative;
    height: 100%;
    width: 100%;
    .pic-record-zoom{
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        z-index: 1020;
        button{
            background: rgba($color: #000000, $alpha: .8);
            border: none;
            i{
                color: white;
            }
        }
    }
    #picRecordImg-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: auto;
        background: $gray-700;
        height: 500px;
        max-height: 500px;
        box-sizing: border-box;
        max-height: none !important;
    }
    
    #picRecordImg {
        position: relative;
        display: flex;
        align-items: center;
        height: 0;
    }
    
    .myBadge {
        position: absolute;
        background: rgba($color: #000000, $alpha: .0);
        border: solid 3px rgba($color: #fff, $alpha: .5);
        height: 50px;
        width: 50px;
        border-radius: 4px;
        font-size: 80px;
        cursor: pointer;
        opacity: 0;
        &::after{
            box-shadow: 0 4px 10px rgba($color: #000000, $alpha: .8);
            position: absolute;
            content: '';
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 3px solid white;
            background: black;
            pointer-events: none;
        }
        &:hover, &.active{
            opacity: 1;
        }
    }
    
    #myImage {
        display: block;
        width: auto;
        height: auto;
        margin: auto;
        align-self: center;
        flex-shrink: 0;
        max-width: none !important;
    }
}
.picRecordName-list{
    margin-top: 1.5rem;
    // height: 500px;
    // overflow: auto;
}
table.picRecordName-table{
    // background: $gray-100;
    height: 500px;
    overflow: scroll;
    position: relative;
    thead{
        position: absolute;
        top: 0;
        width: 100%;
        background: white;
        tr{
            width: 100%;
            th{
                width: 450px;
            }
        }
    }
    tbody{
        display: block;
        margin-top: 40px;
        overflow-y: auto;
        height: 500px;
        tr{
            cursor: pointer;
            width: 100%;
            color: $gray-700;
            td{
                width: 400px;
            }
            &.active{
                background: white;
                // border: 1px solid $primary;
                font-weight: 700;
                color: black;
                display: list-item;
                position: relative;
                background: $gray-100;
                &::after{
                    left: 0;
                    top: 0;
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    border: 2px solid $primary;
                    border-radius: 4px;
                }
            }
        }
    }
}