// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
  background: $gray-100;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
  span{
    font-size: .815rem;
    font-weight: 400;
    color: $gray-600;
  }
}
.list-style-none{
  list-style: none;
}

.analog-clock{
  position: relative;
  width: 120px;
  height: 120px;
  background-color: #f7f7f7;
  background-image: url('../img/clock.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 6px solid transparent;
  box-shadow: 5px 5px 10px rgba($gray-800, $alpha: 0.3),
              10px 10px 20px rgba($gray-800, $alpha: 0.1),
              -10px -10px 20px rgba($gray-400, $alpha: 0.1),
              -10px -10px 20px rgba($gray-400, $alpha: 0.1),
              inset -5px -5px 20px rgba($gray-900, $alpha: .1),
              inset 10px 10px 20px rgba(white, $alpha: .9),
              0 0 0  3px white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after{
    height: 12px;
    width: 12px;
    position: absolute;
    border: 2px solid #efefef;
    content: '';
    border-radius: 50%;
    background: $gray-900;
  }
  .hour, .minute, .second{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hour .hr{
    width: 60%;
    height: 60%;
    // left: 20px;
  }
  .minute .mn{
    width: 70%;
    height: 70%;
    // left: 16px;
  }
  .second .sc{
    width: 80%;
    height: 80%;
  }
  .hr, .mn, .sc{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    position: absolute;
    border-radius: 50%;
  }
  .hr::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 50%;
    background: black;
    border-radius: 8px;
  }
  .mn::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 50%;
    background: $gray-700;
    border-radius: 8px;
  }
  .sc::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 50%;
    background: red;
    border-radius: 8px;
  }
}

.page-section {
  padding: 100px 0;
  h1.section-heading {
    font-size: 2.25rem;
    margin-top: 0;
    color: $black;
    font-weight: 800;
    @include serif-font;
    text-transform: uppercase;
    text-align: center;
  }
  h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    text-align: center;
    color: $gray-600;
  }
}
h2.section-title{
  font-size: 1.25rem;
  color: $black;
  padding-left: 50px;
  margin-bottom: 1rem;
}
.bullet-primary{
  position: relative;
  padding-left: 30px !important;
  &:after{
    position: absolute;
    content: '';
    background: $red;
    width: 10px;
    height: 21px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.bullet-secondary{
  position: relative;
  &:after{
    content: '';
    left: 0;
    position: absolute;
    @include center-y;
    height: 4px;
    width: 30px;
    background: $bronze;
  }
}

.page-action{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 .5rem;
  margin-bottom: .5rem;

  .page-title{
    h1{
      font-size: 2rem;
      color: $gray-900;
    }
  }
  .print{
    cursor: pointer;
    background: $white;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: .5rem;
    border:1px solid $gray-300;
    border-radius: 8px;
    color: $gray-600;
  }
}
.mfa-time-table{
  position: relative;
  text-align: center;
  padding: 1rem 0;
  .analog-clock{
    position: absolute;
    top: -30%;
  }
  .date{
    margin: 1rem 0;
    margin-left: 4rem;
    font-size: 1.125rem;
    i{
      color: $gray-400;
    }
  }
}
.main-contact{
  li{
    padding: 1rem 0;
    h2{
      color: $black;
    }
  }
}
.overflow-height{
  overflow-y: scroll;
  height: 350px;
  &::-webkit-scrollbar {
    width: 6px;
  }
   
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $gray-300;
  }
   
  &::-webkit-scrollbar-thumb {
    background-color: $gray-500;
    border-radius: 10px;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
  color: $white;
}

::selection {
  background: $primary;
  text-shadow: none;
  color: $white;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
