.mfa-archive-list{
  display: flex;
  margin-bottom: 1.25rem;
  box-shadow: 0 0 0 0 rgba(10,10,10,.1), 0 0 0 0 rgba(10,10,10,.02);
  transition: all .3s ease-in-out;
  .record-img{
    flex-shrink: 0;
    flex-grow: 1;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border: 1px solid $gray-300;
    background: $gray-200;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .record-desc{
    margin-left: 1.25rem;
    flex-shrink: 1;
    flex-grow: 0;
    .title{
      color: $black;
      font-size: 1.5rem;
    }
    .category{
      font-size: 0.875rem;
      margin-bottom: 10px;
      color: $gray-800;
    }
    .short-desc{
      font-size: 1rem;
      color: $gray-900;
    }
  }
  &:hover{
    box-shadow: 0 .5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  }
}